select:focus option[disabled] {
    display: none;
  }


select:disabled {
  background-color: #dfdfdf;
  cursor: not-allowed;
}

.button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

i.disabled {
  cursor: not-allowed;
}